body {
    background-color:rgb(255, 255, 255);
}


h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:125px;
    color:gold;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:65px;
    margin: 90px;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size:50px;
    margin: 80px;
    margin-left: 15px;
}






li {
    display:inline;
    width:200px;
    margin: 100px;
    padding: 10px;
    overflow: hidden;
    background-color:gold;
    font-family: 'nanum gothic', sans-serif;
    font-size: 30px;
    font-weight:900;


}

