h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:65px;
    color:gold;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:40px;
}






li {
    display:inline;
    width:200px;
    margin: 75px;
    padding: 20px;
    overflow: hidden;
    background-color:gold;
    font-family: 'nanum gothic', sans-serif;
    font-size: 30px;
    font-weight:900;


}