body {
    background-color:rgb(255, 255, 255);
}

img {
    border: 5px solid #555;
  }
  


h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:90px;
    color:gold;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-style:italic;
    font-size:65px;
    margin: 90px;
}

h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size:50px;
    margin: 80px;
    margin-left: 15px;
}


.buttons li {
    display:inline;
    width:200px;
    margin: 100px;
    padding: 10px;
    overflow: hidden;
    background-color:gold;
    font-family: 'nanum gothic', sans-serif;
    font-size: 30px;
    font-weight:900;
}
    



.buttons li a {
    color:black;
    text-decoration: none;
}




.profile  {
    display:inline;
    width: 400px;
    margin: 15px;
    padding: 20px;
    font-family: 'nanum gothic', sans-serif;
    font-size: 25px;
    font-weight: 600;
    float: left;
    box-sizing:border-box;
}

